@inherits LayoutComponentBase

<MudThemeProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>
<MudLayout id="banner">
    <MudMainContent>
        <div style="padding: 2%;" class="container">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
}
